@import "/src/styles.scss";

:host ::ng-deep {
  .input-autocomplete {
    .p-inputtext {
      font-family: "Roboto";
      color: $dark;
      background-color: transparent;
      font-size: 1rem;
      font-weight: normal;
      padding: 8px;
    }

    .p-autocomplete-panel {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      ul li {
        font-family: "Roboto";
        color: $dark;
        padding: 8px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      ul .p-highlight {
        color: $primary;
        background-color: $white;
      }
    }
  }
}