<div class="row w-100 gy-4 mt-4">
  <div class="col-lg-5 col-md-12 align-items-center justify-content-center">
    <form [formGroup]="firstStepForm" class="w-75 needs-validation">
      <h4 class="fs-2 mb-2">Solicitante</h4>
      <h5 class="fs-6 mb-4">Ingrese toda la información del solicitante</h5>
      <div class="col-md-4 mb-3">
        <label for="name">Nombre</label>
        <input
          type="text"
          formControlName="name"
          maxlength="50"
          id="name"
          required
          class="form-control"
          [ngClass]="{
            'is-invalid':
              this.firstStepForm.controls['name'].invalid &&
              (this.firstStepForm.controls['name'].touched ||
                this.firstStepForm.controls['name'].dirty),
            'is-valid':
              this.firstStepForm.controls['name'].valid &&
              (this.firstStepForm.controls['name'].touched ||
                this.firstStepForm.controls['name'].dirty)
          }"
        />

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['name'].hasError('pattern') &&
            (this.firstStepForm.controls['name'].touched ||
              this.firstStepForm.controls['name'].dirty) &&
            showError('name', 'pattern')
          "
          id="name-pattern-help"
          class="form-text text-danger"
        >
          {{ errorMessage.nameControl[0].message }}
        </div>

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['name'].hasError('required') &&
            (this.firstStepForm.controls['name'].touched ||
              this.firstStepForm.controls['name'].dirty) &&
            showError('name', 'required')
          "
          id="name-required-help"
          class="form-text text-danger"
        >
          {{ errorMessage.nameControl[1].message }}
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="name">Apellido</label>
        <input
          type="text"
          formControlName="lastname"
          maxlength="50"
          id="lastname"
          required
          class="form-control"
          [ngClass]="{
            'is-invalid':
              this.firstStepForm.controls['lastname'].invalid &&
              (this.firstStepForm.controls['lastname'].touched ||
                this.firstStepForm.controls['lastname'].dirty),
            'is-valid':
              this.firstStepForm.controls['lastname'].valid &&
              (this.firstStepForm.controls['lastname'].touched ||
                this.firstStepForm.controls['lastname'].dirty)
          }"
        />

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['lastname'].hasError('pattern') &&
            (this.firstStepForm.controls['lastname'].touched ||
              this.firstStepForm.controls['lastname'].dirty) &&
            showError('lastname', 'pattern')
          "
          id="lastname-pattern-help"
          class="form-text text-danger"
        >
          {{ errorMessage.lastnameControl[0].message }}
        </div>

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['lastname'].hasError('required') &&
            (this.firstStepForm.controls['lastname'].touched ||
              this.firstStepForm.controls['lastname'].dirty) &&
            showError('lastname', 'required')
          "
          id="lastname-required-help"
          class="form-text text-danger"
        >
          {{ errorMessage.lastnameControl[1].message }}
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="name">Matricula</label>
        <input
          type="text"
          formControlName="studentId"
          maxlength="6"
          id="studentId"
          required
          class="form-control"
          [ngClass]="{
            'is-invalid':
              this.firstStepForm.controls['studentId'].invalid &&
              (this.firstStepForm.controls['studentId'].touched ||
                this.firstStepForm.controls['studentId'].dirty),
            'is-valid':
              this.firstStepForm.controls['studentId'].valid &&
              (this.firstStepForm.controls['studentId'].touched ||
                this.firstStepForm.controls['studentId'].dirty)
          }"
        />

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['studentId'].hasError('pattern') &&
            (this.firstStepForm.controls['studentId'].touched ||
              this.firstStepForm.controls['studentId'].dirty) &&
            showError('studentId', 'pattern')
          "
          id="studentId-pattern-help"
          class="form-text text-danger"
        >
          {{ errorMessage.studentIdControl[0].message }}
        </div>

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['studentId'].hasError('required') &&
            (this.firstStepForm.controls['studentId'].touched ||
              this.firstStepForm.controls['studentId'].dirty) &&
            showError('studentId', 'required')
          "
          id="studentId-required-help"
          class="form-text text-danger"
        >
          {{ errorMessage.studentIdControl[1].message }}
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="course">Materia</label>

        <input
          id="typeahead-focus"
          type="text"
          class="form-control"
          formControlName="course"
          [ngbTypeahead]="search"
          [inputFormatter]="formatter"
          [resultTemplate]="rt"
          (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)"
          [ngClass]="{
            'is-invalid':
              this.firstStepForm.controls['course'].invalid &&
              (this.firstStepForm.controls['course'].touched ||
                this.firstStepForm.controls['course'].dirty),
            'is-valid':
              this.firstStepForm.controls['course'].valid &&
              (this.firstStepForm.controls['course'].touched ||
                this.firstStepForm.controls['course'].dirty)
          }"
        />

        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight><br />
          <span>{{ r.professor }}</span>
        </ng-template>

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['course'].hasError('pattern') &&
            (this.firstStepForm.controls['course'].touched ||
              this.firstStepForm.controls['course'].dirty) &&
            showError('course', 'pattern')
          "
          id="course-pattern-help"
          class="form-text text-danger"
        >
          {{ errorMessage.courseControl[0].message }}
        </div>

        <div
          class="invalid-feedback"
          *ngIf="
            this.firstStepForm.controls['course'].hasError('required') &&
            (this.firstStepForm.controls['course'].touched ||
              this.firstStepForm.controls['course'].dirty) &&
            showError('course', 'required')
          "
          id="course-required-help"
          class="form-text text-danger"
        >
          {{ errorMessage.courseControl[1].message }}
        </div>
      </div>

      <div class="scanner-container">
        <div class="scan-square"></div>
        <zxing-scanner
          [enable]="scannerEnabled"
          [(device)]="currentCamera"
          (scanSuccess)="scanSuccessHandler($event)"
          (permissionResponse)="onHasPermission($event)"
          (hasDevices)="onHasDevices($event)"
          class="scan-video"
        >
        </zxing-scanner>
      </div>

      <input
        readonly
        aria-describedby="basic-addon2"
        type="text"
        formControlName="scannedQR"
        id="scannedQR"
        required
        class="form-control"
        [ngClass]="{
          'is-invalid':
            this.firstStepForm.controls['scannedQR'].invalid &&
            this.firstStepForm.controls['scannedQR'].valueChanges &&
            hasScanned,
          'is-valid':
            this.firstStepForm.controls['scannedQR'].valid &&
            this.firstStepForm.controls['scannedQR'].valueChanges &&
            hasScanned
        }"
      />

      <div>
        <button
          class="btn btn-secondary"
          (click)="openLink()"
          [disabled]="!scanSuccess"
        >
          Abrir enlace
        </button>
      </div>

      <select
        class="form-select"
        *ngIf="hasPermission === true"
        #list
        (change)="onCameraSelectChange(list.value)"
      >
        <option value="" [selected]="!currentCamera">Camara desactivada</option>
        <option
          *ngFor="let camera of availableCameras"
          [value]="camera.deviceId"
          [selected]="
            currentCamera && camera.deviceId === currentCamera.deviceId
          "
        >
          {{ getCameraLabel(camera) }}
        </option>
      </select>

      <ng-container *ngIf="hasPermission === undefined">
        <h2>Solicitud de permisos</h2>
        <p>Se requiere acceso a la cámara para utilizar el escáner.</p>
        <p>Haz clic en "Aceptar" para permitir el acceso a la cámara.</p>
      </ng-container>

      <div>
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="submitForm()"
        >
          Siguiente
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <h4 class="fs-4 mb-4">Lista de equipo a solicitar</h4>
  <p-toast></p-toast>
  <p-toolbar styleClass="toolbar mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        icon="pi pi-times"
        (click)="clearSelection()"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
      <div class="flex align-items-center justify-content-between">
        {{ selectedItem ? selectedItem.length : 0 }}
        seleccionado{{ selectedItem && selectedItem.length === 1 ? "" : "s" }}
      </div>
      <p-button
        icon="pi pi-plus"
        (click)="openNew()"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        (click)="deleteSelectedItem()"
        [disabled]="!selectedItem || !selectedItem.length"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-chevron-left"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-refresh"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-chevron-right"
        styleClass="p-button-rounded p-button-text"
      ></p-button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [rows]="5"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [(selection)]="selectedItem"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="{first} al {last} de {totalRecords}"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[1, 5, 10, 20]"
  >
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">
          Tu lista esta vacia, agrega los equipos a solicitar para poder
          continuar.
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 200px">Imagen</th>
        <th pSortableColumn="name" style="width: 20rem">
          Nombre<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="brand" style="min-width: 15em">
          Marca<p-sortIcon field="brand"></p-sortIcon>
        </th>
        <th pSortableColumn="folio" style="min-width: 2rem">
          Folio<p-sortIcon field="folio"></p-sortIcon>
        </th>
        <th pSortableColumn="category" style="min-width: 10rem">
          Categoria<p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="quantity" style="min-width: 2rem">
          Cantidad<p-sortIcon field="quantity"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>
          <img
            [src]="'/assets/' + item.image"
            [alt]="item.name"
            width="100"
            class="shadow"
          />
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.brand }}</td>
        <td>{{ item.folio }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.quantity }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editItem(item)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="itemDialog"
  [style]="{ width: '450px' }"
  header="item Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <img
      [src]="'/assets/' + item.image"
      [alt]="item.image"
      class="block m-auto pb-3"
      *ngIf="item.image"
      width="100"
      class="shadow-4"
    />
    <div class="field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="item.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !item.name"
        >Nombre obligatorio.</small
      >
    </div>
    <div class="field">
      <label for="description">Descripcion</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="item.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>

    <div class="field">
      <label for="inventoryStatus">Estado del inventario</label>
      <p-dropdown
        [(ngModel)]="item.inventoryStatus"
        inputId="inventoryStatus"
        [options]="statuses"
      >
        <ng-template pTemplate="selectedItem" let-item>
          <p-tag
            [value]="item?.inventoryStatus?.toUpperCase() || 'Unknown'"
            [severity]="getSeverity(item?.inventoryStatus?.toUpperCase())"
          ></p-tag>
        </ng-template>
        <ng-template let-option pTemplate="item">
          <p-tag
            [value]="option.label"
            [severity]="getSeverity(option.label)"
          ></p-tag>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="quantity">Cantidad</label>
        <p-inputNumber
          id="quantity"
          [(ngModel)]="item.quantity"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar cambios"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveItem()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
