@import "@angular/material/theming";

@include mat-core();
$primary: darken(#428bca, 6.5%);
$success: #0aa699;
$info: #1f3853;
$warning: #fbb05e;
$danger: #f35958;
$grey: #d1dade;

//$success: #35a255 !default;
///$primary: #007cbb !default;

//linear-gradient(to right,#00aef8,#00628c);
// accent #d5a521
