@import "/src/styles.scss";

.container {
  display: flex;
}

.stepper {
  width: 350px;
  margin-right: 20px;
}

.content {
  flex: 1 1 auto;
}

.step-buttons {
  display: flex;
  flex-direction: column;
}

.step-button {
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.step-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.step-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: $white;
  margin-right: 30px;
}

.step-icon.success,
.step-line.success {
  background-color: $success;
}

.step-icon.edit,
.step-line.edit {
  background-color: $dark;
}

.step-icon.in-progress {
  background-color: $primary;
}

.step-icon.waiting {
  background-color: $warning;
}

.step-icon.pending {
  background-color: $secondary;
}

.step-icon-size {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.step-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.step-title {
  font-size: 16px;
  font-weight: 700;
}

.step-number {
  font-size: 12px;
  font-weight: 700;
}

.step-status {
  font-size: 12px;
  font-weight: 700;
  border: 1px solid $gray;
  border-radius: 20px;
  padding: 0 8px 0 8px;
  margin-left: auto;
}

.step-status.success {
  background-color: $success-light;
  border: 1px solid $success-light;
  color: $success;
}

.step-status.edit {
  background-color: $dark-light;
  border: 1px solid $dark-light;
  color: $dark;
}

.step-status.in-progress {
  background-color: $primary-light;
  border: 1px solid $primary-light;
  color: $primary;
}

.step-status.waiting {
  background-color: $warning-light;
  border: 1px solid $warning-light;
  color: $warning;
}

.step-status.pending {
  background-color: $white;
  border: 1px solid $secondary;
  color: $secondary;
}

.step-line {
  height: 40px;
  width: 5px;
  margin: 0 25px;
  position: relative;
  border-radius: 99px;
}

.step-line.in-progress {
  background: linear-gradient(to bottom, $primary 40%, $secondary 60%);
}

.step-line.waiting {
  background: linear-gradient(to bottom, $warning 40%, $secondary 60%);
}

.step-line.pending {
  background: linear-gradient(to bottom, $secondary 50%, $secondary 50%);
}
